body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #291F18;*/
}

a {
  color: #00B7FF;
}

canvas {
	width: 400px !important;
	height: 400px !important;
	margin-top: 100px;
}

.main {
	display: flex;
	/*flex-direction: column;
	align-items: center;*/
	/*flex-direction: column;*/
	justify-content: space-around;
}

.logo {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 0px;
	right: 20px;
}

.commentSection {
	/*position: absolute;*/
	margin-top: 150px;
}

.topCommentSection {
	/*position: absolute;*/
	margin-top: 150px;
}

.inputArea {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	font-size: 18px;
}